extends includes/layout
block main-content
    div(layout='row' flex)
        md-toolbar.header(ng-controller="TabsController as nav" ng-cloak)
            h2.md-toolbar-tools
                div Idiot
                md-tabs(md-padding md-selected='nav.selectedIndex')
                    a(ng-repeat='tab in nav.tabs' href='{{tab.href}}' ng-hide='{{tab.hide}}')
                        md-tab(flex) {{tab.title}}
                    div(flex align='right' layout='row' ng-show='globals.currentUser' ng-include="'/partials/user-account/user-profile/user-profile'")
                    
                    
    //- div(ng-hide='!globals.currentUser' ng-include="'/partials/user-account/user-profile/user-profile'")

    md-content
        div(ng-view layout='row')

    //- ng-switch.tabpanel-container(on='data.selectedIndex')
    //-     div#tab1-content(role='tabpanel' arial-labelledby='tab1' ng-switch-when='0' md-swipe-left='next()' md-swipe-rigth='previous()')


    //- footer
    //-     p.text-center
    //-         | &copy; Idiot 2014
