// Should be a form which can be used as a partial view on user profile
// fields are name - String and tags - Array (see how array is parsed correctly in the controller)

// Will add unique-project-directive once this form is ready
// Will add ngMessages
