extends includes/layout
block main-content
    md-toolbar
        h2.md-toolbar-tools
            div.md-padding Idiot
            md-tabs(md-padding md-selected='data.selectedIndex')
                a(href='#/')
                    md-tab Home
                a(href='#/explore')
                    md-tab Explore
                a(href='#/about')
                    md-tab About
                a(href='#/login' ng-hide='globals.currentUser')
                    md-tab Login
                a(href='#/register' ng-hide='globals.currentUser')
                    md-tab Register

    //- ng-switch.tabpanel-container(on='data.selectedIndex')
    //-     div#tab1-content(role='tabpanel' arial-labelledby='tab1' ng-switch-when='0' md-swipe-left='next()' md-swipe-rigth='previous()')


    md-content
        div(ng-view)

    //- footer
    //-     p.text-center
    //-         | &copy; Idiot 2014
