extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") Idiot
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                    li
                        a(href="#/explore") Explore
                    li
                        a(href="#/about") About
                    li
                        a(href="#/register") Register
                    li
                        a(ng-if="!globals.currentUser" href="#/login") Login
                        a(ng-if="globals.currentUser" href="#/profile") Signed in as {{globals.currentUser.username}}
                //- div(ng-include="'/views/user/login'")

    section.container
        div(ng-view)

    footer
        p.text-center
            | &copy; Idiot 2014
