// Partial used in project-detail
// Should include data-visualization partial

md-card(ng-controller='HubDetailController as hubCtrl')
	h1 {{hubCtrl.hub.name}}
	div(ng-show='hubCtrl.isLoaded' ng-include="'/partials/project-detail/data-visualization/data-chart'")
