div(flex layout-fill layout='column' role='main' tabindex='0')
    .app-intro(layout='row' tabindex='-1') Explore some interesting projects
    md-toolbar
        h1.md-toolbar-tools Most popular
    md-card(ng-include="'/partials/project-list/project-list'")
