//- .container
//-     .jumbotron
//-         h1 Explore some interesting projects
//-         .well(ng-include="'/partials/project-list/project-list'")

div(flex layout-fill layout='column' role='main' tabindex='0')
	.app-intro(layout='row' tabindex='-1') Explore some interesting projects <br>
		//- .buttons(layout='row' tabindex='-1')
			//- div(flex)
			//- md-button.md-normal.md-raised.md-primary(flex layout-align='center' ng-href='register') Create new
			//- div(flex)
	md-card(ng-show='globals.currentUser' ng-include="'/partials/project-creation/project-creation'")

	md-card(ng-include="'/partials/project-list/project-list'")