div(layout-align='center' layout='column')
	md-card(ng-include="'/partials/project-list/project-list'")
	md-card(ng-show='globals.currentUser' ng-include="'/partials/project-creation/project-creation'")