// Partial used in project-detail
// Should list hubs by a given project with action to load hub-detail partial of selected hub

.container(ng-controller='HubListController as hubsCtrl')
    div(ng-repeat='hub in hubsCtrl.hubs')
        md-button(ng-click='hubsCtrl.select(hub._id)') {{hub.name}}
    div(ng-show='hubsCtrl.isHubSelected' ng-include="'/partials/project-detail/hub/hub-detail/hub-detail'")
    div(ng-include="'/partials/project-detail/hub/hub-creation/hub-creation'")
