doctype
html
    head
        title Idiot
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/styles/main.css")
    body(ng-app="idiotApp")
        block main-content

        include scripts
