doctype
html
    head
        title Idiot
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/lib/angular-material/angular-material.css")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic")
        link(rel="stylesheet" href="/styles/main.css")
    body(ng-app="idiotApp")
        block main-content

        include scripts
