doctype
html
    head
        title Idiot
        base(href='/')
        script(type='text/javascript' src='http://modernizr.com/downloads/modernizr-latest.js')

        include styles

    body(layout='row')

        block main-content

        include scripts
