doctype
html
    head
        title Idiot
        base(href='/')
        script(type='text/javascript' src='https://modernizr.com/downloads/modernizr-latest.js')

        include styles

    body

        block main-content

        include scripts
