script(type='text/javascript' src='assets/lib/require.js' data-main='assets/app/main')
script(type='text/javascript' src='//localhost:9091')
//- script(src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js")
