
//- .well(ng-show='globals.currentUser' ng-include=''/partials/project-creation/project-creation'')

//- div(ng-repeat='project in projectCtrl.projects')
//- 	md-button.md-primary(ng-href='projects/{{project.owner.username}}/{{project.name}}') {{project.name}}

md-list.projects
    md-item(ng-repeat='project in projectCtrl.projects')
        md-item-content
            .md-tile-left
                //Image
            .md-tile-content(layout='column')
                md-button.project-name.md-primary(ng-href='projects/{{project.owner.username}}/{{project.name}}') {{project.name}}
                md-button.author.md-primary.md-hue-1(ng-href='projects/{{project.owner.username}}') by {{project.owner.username}}
                md-chips(ng-model='project.tags' readonly='true')
        md-divider(ng-if='!$last')
