
//- .well(ng-show='globals.currentUser' ng-include=''/partials/project-creation/project-creation'')

//- div(ng-repeat='project in projectCtrl.projects')
//- 	md-button.md-primary(ng-href='projects/{{project.owner.username}}/{{project.name}}') {{project.name}}

md-list
    md-item(ng-repeat='project in projectCtrl.projects')
        md-item-content
            .md-tile-left
                //Image
            .md-tile-content
                h2
                    a(ng-href='projects/{{project.owner.username}}/{{project.name}}') {{project.name}}
                h3
                    a(ng-href='projects/{{project.owner.username}}') by {{project.owner.username}}
                p tags: {{project.tags.toString()}}
        md-divider(ng-if='!$last')
