div(class='registerForm' ng-controller='RegisterController as register', layout='column', layout-align='center center', layout-fill)
  form(class='registerBox md-whiteframe-z1' layout='column' name='registrationForm', method='post', ng-submit='register.submit()')
    md-content(class='md-padding', layout='column')
      md-input-container
        label(for='username') Username
        input(type='text' name='username' id='username' unique-username ng-model='register.username' required maxlength='10' minlength='4')
        div(ng-messages='registrationForm.username.$error')
            div(ng-message='unique') This username is already taken
        div(ng-messages='registrationForm.username.$error' ng-show='registrationForm.username.$dirty')
            div(ng-message='required') This field is required
      md-input-container
        label(for='email') Email
        input(type='email' name='email' id='email' ng-model='register.email' required)
        div(ng-messages='registrationForm.email.$error' ng-show='registrationForm.email.$dirty')
            div(ng-message='email') This is not a valid email
      md-input-container
        label Password
        input(type='password', ng-model='register.password' required)
      md-input-container
        label Repeat password
        input(type='password' required)
    md-toolbar(style='background-color: transparent')
      div(class='md-toolbar-tools', layout='row')
        md-button(flex, class='md-raised md-primary') Register
        div(flex)
        md-button(flex, href='#/login', md-no-ink, class='md-primary') Login
