// Should be a partial view which is included in navigation bar
// Should include project-creation.jade and show it when a button is clicked to add a new project
// Should include a link to projects by this user
// Should include an action to logout

div(ng-controller='ProfileController as user' layout='row')
	md-button {{globals.currentUser.username}}
	md-button.md-raised.md-primary(ng-click='user.projects()') My Projects
	md-button.md-raised.md-primary(ng-click='user.logout()') Log out