// Partial used in project-detail
// Should include name, state(one of 'active', 'stopped', 'suspended'), dataType(Number...)
md-toolbar.md-accent
	h1.md-toolbar-tools Create hub
md-content(class='hubCreate' ng-controller='HubCreationController as hub', layout='column', layout-align='center center', layout-fill)
	form(class='hubCreate md-whiteframe-z1' layout='column' name='registrationForm', method='post', ng-submit='hub.submit()')
		md-content(class='md-padding', layout='column')
			md-input-container
				label(for='hubName') Name
				input(type='text' name='hubName' id='hubName' ng-model='hub.name' required maxlength='30' minlength='4')
			md-content(flex layout-margin)
				md-select(placeholder='State', ng-model='hub.state' value='' required)
					md-option(ng-value='suspended' ) Suspended
					md-option(ng-value='active' selected='unselected') Active
			md-content(flex layout-margin)
				md-select(placeholder='State', ng-model='hub.dataType' required)
					md-option(ng-value='Number') Number
					md-option(ng-value='String') String
		md-divider
			div(class='md-toolbar-tools', layout='row')
				md-button(flex, class='md-raised md-primary') Create
		md-divider

				//- md-select(placeholder='State' ng-mode='hub.state' required)
				//- 	md-option(value='active') Active
				//- 	md-option(value='suspended') Suspended

//- md-select(placeholder='Pick', ng-model='someVal')
//-       md-option(value='1') One
//-       md-option(value='2') Two