// Partial used in project-detail
// Should include name, state(one of 'active', 'stopped', 'suspended'), dataType(Number...)

md-toolbar
	h2.md-toolbar-tools Create hub
md-content(class='projectCreate' ng-controller='HubCreationController as hub' layout-fill layout-align='center start')
	form(class='projectCreate md-whiteframe-z1' name='registrationForm' method='post' ng-submit='hub.submit()')
		md-content.md-padding(layout='column')
			md-input-container
				label(for='hubName') Name
				input(type='text' name='hubName' id='hubName' ng-model='hub.name' required maxlength='30' minlength='4')
			md-input-container
				label(for='hubType') Data type
				input(type='text' name='hubType' id='hubType' ng-model='hub.dataType' required maxlength='30' minlength='4')
			//- md-content(flex layout-margin)
			//- 	md-select(placeholder='State', ng-model='hub.state' required)
			//- 		md-option(ng-value='suspended') Suspended
			//- 		md-option(ng-value='active') Active
			//- md-content(flex layout-margin)
			//- 	md-select(placeholder='State', ng-model='hub.dataType' required)
			//- 		md-option(ng-value='Number') Number
			//- 		md-option(ng-value='Vector') Vector
		md-divider
			.md-toolbar-tools(flex layout='row')
				md-button.md-raised.md-primary(flex) Create
				div(flex)
				md-button(flex, href='', md-no-ink, class='md-primary' ng-click='projectCtrl.show=false') Cancel

		md-divider

				//- md-select(placeholder='State' ng-mode='hub.state' required)
				//- 	md-option(value='active') Active
				//- 	md-option(value='suspended') Suspended

//- md-select(placeholder='Pick', ng-model='someVal')
//-       md-option(value='1') One
//-       md-option(value='2') Two
