h2.md-toolbar-tools div{
  padding-right: 20px;
}
.loginBox {
  max-width:  90%;
  width: 500px
}

.loginForm{
  padding-top: 40px;
}
.registerBox {
  max-width:  90%;
  width: 500px
}

.registerForm{
  padding-top: 40px;
}

md-toolbar.md-default-theme{
	min-height: 48px;
	max-height: 48px;
	overflow-x: hidden;
	overflow-y: hidden;
}

md-tabs{
	overflow: hidden;
}

body{
	font-family: RobotoDraft, Roboto, Helvetica Neue, sans-serif;
	font-weight: 400;
	line-height: 40px;
}

.app-intro {
	font-size: 4em;
	line-height: 60px;
	color: rgb(197,202,233);
	padding: 70px 0;
	display: block;
	text-align: center;
	background-color: #5C6BC0;
}

.home-register {
	/*margin-top: 20px;*/

}

md-toolbar.home-register{
	margin-bottom: -20px;
}

h1.md-toolbar-tools.home-register{
	text-align: center;
	background-color: #5C6BC0;
}


md-toolbar.header{
	z-index: 61;
}


md-toolbar.home-sidenav{
	background-color: #5C6BC0;


}