h2.md-toolbar-tools div{
  padding-right: 20px;
}
.loginBox {
  max-width:  90%;
  width: 500px
}

.loginForm{
  padding-top: 40px;
}
.registerBox {
  max-width:  90%;
  width: 500px
}

.registerForm{
  padding-top: 40px;
}

md-toolbar.md-default-theme{
  min-height: 48px;
  max-height: 48px;
}