// Should include public and owner modules
// See project-detail-controller isOwner
// Project name, hubs and data visualisation are public
// Should include partial views hub-list -> hub-detail (hub-name, data-chart),
// When user is owner should show add hub button and show hub-creation partial view
